<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Найдется все!</title>
</head>

<body>

    <center>

        <h1>Поиск по газете "Полярный круг"</h1>
        <br>
        <form action="/">
            <label>Ваш запрос: </label>
            <label><input type="text" size="50" name="search_query"></label>
            <input type="submit" value="Искать">
        </form>


        {% if is_result %}

            {% if is_empty %}
                <h1> Поиск не дал результатов </h1>
            {% else %}
                <h1> Результаты поиска по фразе: <br>
                    "{{search_query}}"{% if n_pages > 0 %} <br>
                    Страница {{ now_page }} {% endif %} </h1>
            {% endif %}

            <table border="0" width="1000" align="center">
                {% for idx, result in now_search_result_dict.items() %}
                    <tr align="left"><td>Результат {{ idx }}: <a href="{{ result[0] }}">{{ result[1] }}</a></td></tr>
                    <tr align="left"><td>{{ result[2] }}</td></tr>
                    <tr align="left"><td><br></td></tr>
                {% endfor %}

            </table>

            {% if n_pages > 1 %}
                {{ pages }}
                <form action="/">
                <label> {{ page }} </label>
                <label><input type="number" size="10" name="now_page"></label>
                <input type="submit" value="Перейти к странице">
                </form>
            {% endif %}

        {% endif %}


    </center>

</body>

</html>