<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сайт-анкета</title>
</head>

<body>

<center>
	<h1>Заполните, пожалуйста, анкету</h1>

    <br>

	<form action="/thanks">

            <table width="1000" align="center">

                <tr align="left">
                    <td><label>Ваш язык:</label></td>
                    <td><input type="checkbox" name="nor"> Норвежский</td>
                    <td><input type="checkbox" name="dan"> Датский</td>
                    <td><input type="checkbox" name="swe"> Шведский</td>
                    <td><input type="checkbox" name="isl"> Исландский</td>
                    <td><input type="checkbox" name="spa"> Испанский</td>
                    <td><input type="checkbox" name="fra"> Французский</td>
                    <td><input type="checkbox" name="mol"> Молдавский</td>
                    <td><input type="checkbox" name="cat"> Каталанский</td>
                    <td><input type="checkbox" name="bel"> Белорусский</td>
                </tr>
                <tr>
                    <td><label>Ваш пол:</label></td>
                    <td><input type="checkbox" name="male"> Мужской</td>
                    <td><input type="checkbox" name="female"> Женский</td>
                </tr>

            </table>

            <br>

			<table width="1000" align="center">

				<tr align="center">
					<td><label>Цвет:</label></td>
					<td><img src="{{url_for('static', filename='red.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='orange.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='yellow.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='green.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='cyan.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='blue.jpg')}}"/></td>
					<td><img src="{{url_for('static', filename='magenta.jpg')}}"/></td>
				</tr>
				<tr align="center">
					<td><label>Его название <br> на Вашем языке:</label></td>
					<td><label><input type="text" size="10" name="red"></label></td>
					<td><label><input type="text" size="10" name="orange"></label></td>
					<td><label><input type="text" size="10" name="yellow"></label></td>
					<td><label><input type="text" size="10" name="green"></label></td>
					<td><label><input type="text" size="10" name="cyan"></label></td>
					<td><label><input type="text" size="10" name="blue"></label></td>
					<td><label><input type="text" size="10" name="magenta"></label></td>
				</tr>
			</table>
            <br>
			<input type="submit" value="Отправить">

		</form>

		<br>
		{% for name, url in urls.items() %}
		<a href="{{ url }}">{{ name }}</a> &nbsp;
		{% endfor %}
</center>
</body>

</html>