<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>

<body>
	<center>

        <h1>Статистика опроса</h1>

        Всего опрошено человек: {{ n_list[0] }} <br>
        Из них указали свой пол {{ n_list[1] }} ({{ perc_list[1] }}%) мужчин и {{ n_list[2] }} ({{ perc_list[2] }}%) женщин <br>

        Количественное и процентное содержание языков:<br>
		{% for i in range(9) %}
		{{ languages[i] }}: {{ n_list[3+i] }} ({{ perc_list[3+i] }}%)<br>
		{% endfor %}
        Из них языков скандинавской группы: {{ n_list[-1] }} ({{ perc_list[-1] }}%)<br>

        <br>

        <form action="/">
        <input type="submit" value="На главную страницу">
        </form>

	</center>
</body>

</html>